<div class="container py-3">

  <div class="my-3">
    <h2>Hi <span>{{user.user.name}}</span></h2>

    <div class="my-2 row justify-content-center">
      <a routerLink="/account/orders" class="btn m-2 rounded btn-profile col-5 col-md">My order</a>
      <a routerLink="/account/wishlist" class="btn m-2 rounded btn-profile col-5 col-md">Wishlist</a>
      <a routerLink="/account/edit" class="btn m-2 rounded btn-profile col-5 col-md">Edit profile</a>
      <a routerLink="/account/edit-address" class="btn m-2 rounded btn-profile col-5 col-md">Edit address</a>
      <a routerLink="/account/invoices" *ngIf="user.user.userType === 'BUSINESS'"
      class="btn m-2 rounded btn-profile col-5 col-md">Invoices</a>
    </div>
  </div>

</div>
