a {
  text-decoration: none;
  color: var(--my-pink);
}

.btn-add{
  background-color: var(--my-purple);
  position: fixed;
  bottom: 70px;
  right: 10px;
  font-size: 2rem;
  line-height: 40px;
  z-index: 10;

  height: 40px;
  width: 40px;
}
