<div class="container py-3">

  <h2 class="text-center my-3">Products</h2>

  <div>

    <div class="card m-3 p-2" style="width: 16rem;">
      <img class="img-card" src="https://picsum.photos/300/300?random=1" class="card-img-top" alt="product img">
      <div class="card-body">
        <h5 class="card-title">Name: </h5>
      </div>
      <ul class="list-group-flush">
        <li class="list-group-item">Brand: </li>
        <li class="list-group-item">Category: </li>
        <li class="list-group-item">Price: </li>
      </ul>
      <div class="card-body">
        <a class="btn" routerLink="" class="card-link">Edit</a>
        <a class="btn btn-danger" routerLink="" class="card-link">Delete</a>
      </div>
    </div>

  </div>

  <!-- menù products -->
  <div class="btn-add rounded-circle text-center">
    <a routerLink="/account/new-product">
      +
    </a>
  </div>


</div>
